.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    min-height: 90vh;
    max-width: 100vw;
    flex-direction: column;
    margin-bottom: 100px;
}

.grid {
    width: 90% !important;
    justify-content: center;
    background-color: #d9e8fa9a;
    padding-bottom: 100px;
    border-radius: 100px;
}

.nombre{
    max-width: 500px;
    margin-top: 40px;
    margin-left: 40px;
    padding: 5px;
    background-color: #ffffffe0;
    border-radius: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700; /* Texto en negrita */
}

.title {
    display: flex;
    justify-content: flex-start;
    padding-top: 1rem;
}

.cart_container {
    width: 100% !important;
}

.total {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.prev_container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.prev_sales {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #d9e8fa;
    align-self: center;
    width: 80%;
    padding: 1rem;
    border-radius: 15px;
    margin-top: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    clip-path: polygon(9% 0, 100% 0%, 100% 100%, 13% 100%, 0% 50%);
   

}

@media only screen and (max-width: 900px) {
    .container {
        min-height: 100px;
        max-width: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: transparent;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
    }
}