.alert {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ff0000;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    font-weight: 500;
    box-shadow: 0px 2px 6px rgb(255, 230, 0);
    position: absolute;
    top: 1px;
    left: -30px;
    margin: 30px;
    white-space: nowrap;
    display: table-caption;
  }

  .fondo{
    background: #f6980ac6;
    box-shadow: 0 5px 10px rgb(0, 0, 0); /* Sombra sutil */
  }

  @media only screen and (max-width: 900px) {
    .alert {
      background-color: #000000;
      color: #ffffff;
      border: 1px solid #ff0000;
      border-radius: 5px;
      padding: 10px;
      font-size: 12px;
      font-weight: 500;
      box-shadow: 0px 2px 6px rgb(255, 230, 0);
      position: absolute;
      top: 1px;
      left: 30px;
      margin: 10px;
      white-space: nowrap;
      display: inline-block;
    }
}