
body{
    background-image: url(./images/fondo.jpg);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace con el contenido */
    height: 100vh; /* Ajusta la altura del cuerpo al 100% de la altura de la ventana grÃ¡fica */
    overflow-x: clip;
}

.nombre{
    max-width: 500px;
    margin-top: 40px;
    margin-left: 40px;
    padding: 5px;
    background-color: #ffffffe0;
    border-radius: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700; /* Texto en negrita */
}

.caja{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 5px solid #008516; /* Borde gris claro */
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 70px;
    border-radius: 10px; /* Bordes redondeados */
    width: 100%; /* Ancho completo (responsivo) */
    box-shadow: 0 5px 10px rgb(0, 0, 0); /* Sombra sutil */
    text-decoration: none;
    zoom: 0.8;
}

.caja img{
    width: 100%; /* Ancho completo de la tarjeta */
    height: auto; /* Altura automática para mantener la proporción */
    object-fit: cover; /* Ajusta la imagen para cubrir toda el área disponible sin deformarse */
    display: block; /* Asegura que la imagen se comporte como un bloque */
    margin: 0; /* Elimina márgenes predeterminados */
    padding: 0; /* Elimina relleno predeterminado */
}

.caja h4{
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}

.header{
    border: #c61717;
}

.titulo{
    font-size: 7rem; /* Tamaño de fuente grande */
    font-weight: bold; /* Letra en negrita */
    color: rgba(255, 125, 4);
    text-shadow: 7px 0 black;;
    padding: 10px; /* Margen interno */
    margin-bottom: -30px; /* Margen inferior */
}

.cabezaTitulo{
    position: relative;
    background: rgba(255, 125, 4);
    padding: 10px; /* Margen ajustado para mejor respuesta */
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 10px;
    font-size: 1.5rem; /* Tamaño de fuente adaptable */
    border-top-left-radius: 50px;
    border-top-right-radius: 5px;
    display: flex; /* DiseÃ±o Flexbox para alineacion horizontal */
    align-items: center; /* Alineacion vertical del ti­tulo */
}

.card{
    max-width: 20%; /* Ancho máximo del 80% */
    margin: 0 auto; /* Centrar horizontalmente */
    display: flex; /* Usar flexbox para la distribución interna */
    flex-direction: column; /* Distribuir elementos en columna */
    align-items: center; /* Alinear elementos horizontalmente al centro */
    padding: 20px; /* Añadir relleno alrededor del contenido */
    background-color: #fff; /* Color de fondo blanco */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

@media only screen and (max-width: 900px) {
    .card{
        max-width: 80%; /* Ancho máximo del 80% */
        margin: 0 auto; /* Centrar horizontalmente */
        display: flex; /* Usar flexbox para la distribución interna */
        flex-direction: column; /* Distribuir elementos en columna */
        align-items: center; /* Alinear elementos horizontalmente al centro */
        padding: 20px; /* Añadir relleno alrededor del contenido */
        background-color: #fff; /* Color de fondo blanco */
        border-radius: 10px; /* Esquinas redondeadas */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    }
    .caja{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        border: 5px solid #008516; /* Borde gris claro */
        margin-top: 50px;
        margin-right: 50px;
        margin-bottom: 70px;
        border-radius: 10px; /* Bordes redondeados */
        width: 100%; /* Ancho completo (responsivo) */
        box-shadow: 0 5px 10px rgb(0, 0, 0); /* Sombra sutil */
        text-decoration: none;
        zoom: 0.8;
    }
}